@charset "utf-8";

body {
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'Verdana', sans-serif;
    /* font-family: 'Palatino-Roman', 'Palatino', serif; */ /* Alternative fonts */
    font-size: 16px;
    color: #222;
}

a {
    color: #444;
}

h1 {
    font-size: 28px;
    font-weight: normal;
    margin: 0;
}

h2 {
    font-size: 18px;
    font-weight: normal;
    margin: 0;
}

h3 {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    margin: 0;
}

h3 a {
    color: #DDF;
    text-decoration: none;
}

:focus {
    outline: none;
}

.header {
    color: #FFF;
    padding: 15px;
    background: #3C799C;
}

.content {

}

.footer {
    font-size: 14px;
    color: rgb(64, 64, 64);
    padding: 5px 5px;
}

.footer p {
    margin: 0px;
}

.sidebar {
    padding-top: 2px;
    display: inline-block;
    vertical-align: top;
    width: 265px;
}

.help-ico {
    margin-right: 1ex;
    position: relative;
    top: 2px;
}

.framed {
    border: 1px solid #A6C9E2;
    padding: 5px;
    margin-top: 5px;
}

.centered {
    text-align: center;
}

.category {
    font-size: 14px;
}

.category .caption {
    color: rgb(96, 96, 96);
    margin-bottom: 5px;
}

.category .label {
    vertical-align: middle;
    color: rgb(46, 110, 158);
    display: inline-block;
}

.category .switch {
    width: 110px;
    display: inline-block;
    font-size: 12px;
    float: right;
}

.c-icon {
    vertical-align: middle;
    margin-right: 10px;
    display: inline-block;
    width: 24px;
    height: 24px;
}

.c-icon.c-journal {
    background-image: url('pics/ico/journal.png');
}

.c-icon.c-conference {
    background-image: url('pics/ico/conference.png');
}

.c-icon.c-poster {
    background-image: url('pics/ico/poster.png');
}

.c-icon.c-thesis {
    background-image: url('pics/ico/thesis.png');
}

.c-icon.c-technicalReport {
    background-image: url('pics/ico/technicalReport.png');
}

.c-icon.c-book {
    background-image: url('pics/ico/book.png');
}

.c-icon.c-cartography {
    background-image: url('pics/ico/cartography.png');
}

.c-icon.c-cognitivePsychology {
    background-image: url('pics/ico/cognitivePsychology.png');
}

.c-icon.c-healthAnalytics {
    background-image: url('pics/ico/healthAnalytics.png');
}

.c-icon.c-humanFactors {
    background-image: url('pics/ico/humanFactors.png');
}

.c-icon.c-decisionMaking {
    background-image: url('pics/ico/decisionMaking.png');
}

.c-icon.c-infoVis {
    background-image: url('pics/ico/infoVis.png');
}

.c-icon.c-sciVis {
    background-image: url('pics/ico/sciVis.png');
}

.c-icon.c-cyberSecurity {
    background-image: url('pics/ico/cyberSecurity.png');
}

.c-icon.c-ubiquitousComputing {
    background-image: url('pics/ico/ubiquitousComputing.png');
}

.c-icon.c-statistics {
    background-image: url('pics/ico/statistics.png');
}

.c-icon.c-dataScience {
    background-image: url('pics/ico/dataScience.png');
}

.c-icon.c-aviation {
    background-image: url('pics/ico/aviation.png');
}

.c-icon.c-gis {
    background-image: url('pics/ico/gis.png');
}

.c-icon.c-medicalScience {
    background-image: url('pics/ico/medicalScience.png');
}

.c-icon.c-manufacturing {
    background-image: url('pics/ico/manufacturing.png');
}

.c-icon.c-astrophysics {
    background-image: url('pics/ico/astrophysics.png');
}

.c-icon.c-urbanPlanning {
    background-image: url('pics/ico/urbanPlanning.png');
}

.c-icon.c-management {
    background-image: url('pics/ico/management.png');
}

.c-icon.c-transport {
    background-image: url('pics/ico/transport.png');
}

.c-icon.c-general {
    background-image: url('pics/ico/general.png');
}

.c-icon.c-nonExpert {
    background-image: url('pics/ico/nonExpert.png');
}

.c-icon.c-domainExpert {
    background-image: url('pics/ico/domainExpert.png');
}

.c-icon.c-noEvaluation {
    background-image: url('pics/ico/noEvaluation.png');
}

.c-icon.c-caseStudy {
    background-image: url('pics/ico/caseStudy.png');
}

.c-icon.c-userStudy {
    background-image: url('pics/ico/userStudy.png');
}

.c-icon.c-expertReview {
    background-image: url('pics/ico/expertReview.png');
}

.c-icon.c-survey {
    background-image: url('pics/ico/survey.png');
}

.switch-icon {
    background-repeat: no-repeat;
    background-position: center;
    height: 20px;
}

.want {
    background-image: url('pics/ico/visible-gray.png');
}

input:checked + label.want {
    background-image: url('pics/ico/visible.png');
}

.neutral {
    background-image: url('pics/ico/invisible-gray.png');
}

input:checked + label.neutral {
    background-image: url('pics/ico/invisible.png');
}

.hide {
    background-image: url('pics/ico/hide-gray.png');
}

input:checked + label.hide {
    background-image: url('pics/ico/hide.png');
}

.switch-toggle.switch-holo {
    background-color: #F2F2F2;
    text-transform: none;
    vertical-align: middle;
    box-shadow: none;
}

.switch-holo a {
    background-color: #3C799C;
    box-shadow: inset 0 0 1px #a6c9e2, 0 3px 6px -3px #000;
}

.switch-holo label {
    color: #777;
}

.switch-toggle input + label {
    cursor: pointer;
}

.switch-holo input:checked + label {
    color: #FFF;
    font-weight: bold;
}

.switch-toggle input:focus ~ span a,
.switch-toggle input:focus + label {
    outline: none;
}

#thumbs {
    display: inline-block;
    width: calc(100% - 270px);
    min-height: 1450px; /* The height of the sidebar */
    font-size: 0; /* Hack to prevent gap of inline-block elements */
    position: relative;
    overflow: hidden;
}

.thumb {
    margin: 7px;
    padding: 5px;
    cursor: pointer;
    border: 1px solid #A6C9E2;
    transition: transform;
    transition-duration: 200ms;
}

.highlighted {
    transform: rotate(3deg);
}

.new {
    box-shadow: 0px 0px 8px #0038C0;
}

.tec {
    display: inline-block;
    position: absolute;
    transition: top 1000ms, left 1000ms;
}

.tec-citation {
    display: none;
}

.tec-source {
    display: none;
}

.tec-abstract {
    display: none;
}

#count {
    float: right;
}

#search {
    width: 200px;
}

#clear_search {
    vertical-align: middle;
    cursor: pointer;
    margin-left: 4px;
}

#tooltip {
    display: none;
    position: absolute;
    background-color: #3C799C;
    color: #FFF;
    padding: 3px 7px;
    pointer-events: none;
}

#detail {
    display: none;
    position: absolute;
    width: 70%;
    color: #555;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0px 0px 25px 2px #333;
    padding: 14px;
    z-index: 3;
}

#detail a {
    color: #555;
}

#detail h3 {
    font-size: 14px;
}

#detail p {
    text-align: justify;
}

#detail ul {
    font-style: italic;
    margin: 0.5em;
}

.detail-image {
    position: absolute;
}

.detail-content {
    margin-left: 330px;
    min-height: 305px;
}

.detail-cites {
    margin-top: 1em;
}

#detail_img {
    position: absolute;
    left: 0px;
    top: 0px;
    border: 1px solid #BBB;
    padding: 5px;
}

#detail_load_msg {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 200px;
}

.nav-btn {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
}

#nav_close {
    position: absolute;
    left: -10px;
    top: -10px;
    cursor: pointer;
}

#nav_full {
    position: absolute;
    left: 295px;
    top: 295px;
    cursor: pointer;
    border-radius: 7px;
}

#nav_prev {
    position: absolute;
    left: -14px;
    top: 143px;
    cursor: pointer;
}

#nav_next {
    position: absolute;
    left: 294px;
    top: 143px;
    cursor: pointer;
}
